 <%- include("partials/header"); %>
<h1> <i> Hola, NIT Calicut </i> </h1>
<br>
<form action="/home" method="post">
  <button class = "btn btn-dark btn-lg fixedBtn" type="submit" name="button">Create New Blog</button>
</form>
<br>
<br>


   <form  action="/delete" method="post">
        <%  posts.forEach(function(post){  %>

          <div class="panel" >
               <div class="panel-heading" style = "background-color: #343a40;"> <h2>  <%= post.title %></h2>


          <%    if( userId == post.id){ %>
                  <button type="submit" name="postId" value =  "<%=post._id%>" class="btnTrash"><i class="fa fa-trash "></i></button>
            <%  } %>

                <hr style = "background-color : #645A5A; ">
                  <p> Published on <b><%=post.date%></b></p>
                   <p> Written by  <b><%=post.author%></b></p>


                 </div>
                <div class="panel-body"><p class="content" style = "color: #645A5A;"> <%= post.content.substring(0,100)+"..." %>  <a  href="/posts/<%=post._id%>">Read More</a></p></div>
              </div>


        <% })   %>
         </form>







 <%- include("partials/footer"); %>
